/* ============================ RESET =============================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

/* ============================ VARIABLES =============================== */

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

/* ============================ base =============================== */
.container {
  padding: 0 1.5rem;
}

.section {
  padding-top: 6rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

body {
  font-family: 'Alata', serif;
}

h2 {
  font-family: 'Josefin Sans', serif;
  font-size: 2em;
  font-weight: 300;
}

/* ============================ HEADER =============================== */

header h1 {
  font-family: 'Josefin Sans', serif;
  font-weight: 300;
  font-size: 2.5em;
  color: white;
  border: 2px solid white;
  padding: 1.5rem 0 1.5rem 1.5rem;
  margin-top: 25vh;
  max-width: 19rem;
}

header.hero {
  background-image: url('assets/mobile/image-hero.jpg');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .logo {
  z-index: 999;
}

/* ============================ NAV =============================== */
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.menu a {
  color: white;
  font-family: 'Josefin Sans', serif;
  font-weight: 200;
  font-size: 2rem;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* Mostrar menu */

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background-color: black;

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

/* toggle menu*/
.toggle {
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show .icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 2rem;
  position: fixed;
  top: 25%;
  left: 10%;
}

/* ============================ HOME =============================== */
#home .text {
  text-align: center;
  padding: 0 1rem;
}

#home .text h2 {
  margin: 2rem 0 1rem 0;
}

#home .text p {
  color: var(--dark-gray);
}

/* ============================ CREATION =============================== */
#creations h2 {
  text-align: center;
  margin-bottom: 2.5rem;
}

#creations .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#creations .card {
  margin-bottom: 1.5rem;
  position: relative;
}

#creations .card p {
  font-family: 'Josefin Sans', serif;
  font-size: 1.5em;
  font-weight: 200;
  color: white;

  position: absolute;
  top: 3.2rem;
  left: 1.2rem;
}

#creations .button {
  display: inline-block;
  margin: 1.5rem auto 0;

  font-family: 'Josefin Sans', serif;
  font-size: 1.2em;
  color: black;

  padding: 0.75rem 3.25rem;
  border: 2px solid var(--very-dark-gray);
  transition: 0.3s;
}

#creations .button:hover {
  background-color: black;
  color: white;
}

/* ============================ FOOTER =============================== */
footer {
  margin-top: 8rem;
  padding-top: 4rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo svg {
  display: flex;
  margin: 0 auto;
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

footer ul li {
  margin-bottom: 1.5rem;
}

footer ul li a {
  color: white;
  transition: 0.2s;
  position: relative;
}

footer ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: white;
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  transition: width 0.2s;
}

footer ul li a:hover::after {
  width: 100%;
}

footer .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

footer .socials svg {
  margin-right: 1rem;
}

footer .socials svg:nth-child(4) {
  margin-right: 0;
}

footer p {
  margin-bottom: 4rem;
}

@media (min-width: 1440px) {
  /* ============================ base =============================== */
  .container {
    padding: 0 15rem;
  }

  /* ============================ header =============================== */
  header h1 {
    font-size: 6em;
    font-weight: 200;
    padding: 1.5rem 6rem 1.5rem 1.5rem;
    max-width: 55rem;
  }

  header nav {
    padding-top: 5rem;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
    gap: 2rem;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a {
    font-size: 1rem;
    font-weight: 400;
  }

  .toggle {
    display: none;
  }

  header.hero {
    background-image: url(assets/desktop/image-hero.jpg);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* ============================ HOME =============================== */
  #home .text {
    max-width: 28rem;
    text-align: initial;
    padding: 5rem 0 0 5rem;
    background-color: white;
  }

  /* ============================ CREATION =============================== */

  #creations .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .creations-images {
    margin-top: 6rem;
  }

  #creations h2 {
    order: -2;
    display: inline-block;
    margin: 0;
  }

  #creations .button {
    order: -1;
    display: inline-block;
    margin: 0;
  }

  .creations-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    width: 100%;
  }

  #creations .card p {
    top: unset;
    bottom: 3.2rem;
    left: 2rem;
  }

  /* ============================ footer =============================== */
  footer.container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4rem;
  }

  .footer-logo svg {
    display: flex;
    margin: 0;
  }

  footer ul li {
    margin-right: 3.2rem;
  }

  footer ul {
    flex-direction: row;
  }

  footer .socials {
    display: flex;
    justify-content: flex-end;
  }

  footer p {
    margin: 2rem 0;
  }
}
