/* ============================ RESET =============================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* ============================ VARIABLES =============================== */

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

/* ============================ base =============================== */
.container {
  padding: 0 1.5rem;
}

.section {
  padding-top: 6rem;
}

body {
  font-family: 'Alata', serif;
}

h2 {
  font-family: 'Josefin Sans', serif;
  font-size: 2em;
  font-weight: 300;
}

/* ============================ HEADER =============================== */

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
}

header h1 {
  font-family: 'Josefin Sans', serif;
  font-weight: 300;
  font-size: 2.5em;
  color: white;
  border: 2px solid white;
  padding: 1.5rem 0 1.5rem 1.5rem;
  margin-top: 25vh;
  max-width: 20rem;
}

header.hero {
  background-image: url('assets/mobile/image-hero.jpg');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ============================ HOME =============================== */
#home .text {
  text-align: center;
  padding: 0 1rem;
}

#home .text h2 {
  margin: 2rem 0 1rem 0;
}

#home .text p {
  color: var(--dark-gray);
}

/* ============================ CREATION =============================== */
#creations h2 {
  text-align: center;
  margin-bottom: 2.5rem;
}

#creations .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#creations .creations-images img {
  margin-bottom: 1.5rem;
}

#creations .button {
  display: inline-block;
  margin: 1.5rem auto 0;

  font-family: 'Josefin Sans', serif;
  font-size: 1.2em;
  color: black;

  padding: 0.75rem 3.25rem;
  border: 1px solid black;
  transition: 0.3s;
}

#creations .button:hover {
  background-color: black;
  color: white;
}

/* ============================ FOOTER =============================== */
footer {
  margin-top: 8rem;
  padding-top: 4rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo svg {
  display: flex;
  margin: 0 auto;
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

footer ul li {
  margin-bottom: 1.5rem;
}

footer ul li a {
  color: white;
  transition: 0.2s;
  position: relative;
}

footer ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: white;
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  transition: width 0.2s;
}

footer ul li a:hover::after {
  width: 100%;
}

footer .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

footer .socials svg {
  margin-right: 1rem;
}

footer p {
  margin-bottom: 4rem;
}
